{
    admin off
    persist_config off
    auto_https off
    log {
        format json
    }
    servers {
        trusted_proxies static 0.0.0.0/0 ::/0
    }
}

:{$PORT:8080} {
    log {
        format json
    }

    root * .
    encode zstd gzip

    @home {
        path / /index.html
    }
    header @home Clear-Site-Data "\"cache\""

    @freshFrontend {
        path / /index.html *.html *.js *.css
    }
    header @freshFrontend Cache-Control "no-store, max-age=0"

    file_server
}
